#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.addForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userInput {
  display: flex;
  justify-content: center;
}

.nameInput {
  width: 180px;
  height: 30px;
  margin-right: 10px;
}

.ageInput {
  width: 180px;
  height: 30px;
  margin-left: 10px;
}

.addBtn {
  width: 400px;
  margin-top: 20px;
  background-color: #b1dfff;
}

.userCard {
  padding: 0;
  margin-top: 40px;
}

.userMap {
  width: 400px;
  height: 60px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  justify-content: space-between;
}

.userData {
  list-style: none;
  margin-left: 20px;
}

.removeBtn {
  margin-left: 20px;
  margin-right: 20px;
}
